@import './var.scss';

.fade-in-linear-enter-active, .fade-in-linear-leave-active {
    transition: $fade-linear-transition
}

.fade-in-linear-enter, .fade-in-linear-leave-to{
    opacity: 0;
}

.slide-up-linear-enter-active, .slide-up-linear-leave-active {
    transition: $slide-up-linear-transition;
}

.slide-up-linear-enter, .slide-up-linear-leave-to{
    opacity: 0;
    transform: translateY(-100%);
}


